<mat-card class="detail-title-card" >
    
    <div class="detail-header-container">
        <div fxLayout="row" fxLayoutAlign="space-between" >
            <div>
                <button mat-button class="menu-button" routerLink="{{routerLink}}" routerLinkActive="active-link">
                    <mat-icon>arrow_back</mat-icon>
                    <span>Back</span>
                </button>
               
            </div>
           <div >
            <span>{{title}}</span> 
          </div>
          <div></div>
             
        </div>
    </div>
    
</mat-card>
