.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color:white;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
   
  }

.grid-item {
    background-color: white;
    border: 1px solid wheat;
    margin: 1px;
    overflow: hidden;  /* NEW */
    min-width: 0;      /* NEW; needed for Firefox */
  }

  .flex-me {
    display: flex;
    background: whitesmoke;
    width: 100%;
    height: 100%;


  }