<div >
    <div class="login-content">
        <mat-toolbar class="login-toolbar" > Change Password</mat-toolbar>
    
    <form [formGroup]="form">
     
            <mat-card >
               
                <mat-divider></mat-divider>
                <mat-progress-bar *ngIf="this.isLoading" mode="query"></mat-progress-bar>
                <mat-error *ngIf="isError">{{errorMsg}}</mat-error>
                <mat-card-title>
                   
                </mat-card-title>
                <mat-card-content>
                    <br>
                    <mat-form-field class="signup-field">
                        <mat-label>Password</mat-label>
                        <input matInput
                            placeholder="Password"
                            formControlName="password"
                            type="password">
                            <mat-error *ngIf="f.get('password')?.errors?.['required']">
                                Password is required.
                            </mat-error> 
                            <mat-error *ngIf="f.get('password')?.errors?.['minlength']">
                                Password must be at least 6 characters.
                            </mat-error>
                            <mat-error *ngIf="f.get('password')?.errors?.['maxlength']">
                                Password must not exceed 20 characters.
                            </mat-error>
                    </mat-form-field>

                    <mat-form-field class="signup-field">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput
                                placeholder="Confirm Password"
                               formControlName="confirm_password"
                               type="password">
                               
                                    
                    </mat-form-field>
                    
                    <mat-error *ngIf="f.get('confirm_password')?.errors?.['mismatch']">
                        Passsword and Confirm Password didn't match.
                    </mat-error> 
                   
                </mat-card-content>
                
                <mat-dialog-actions>
                    <div class="wpr">
                       <div>
                         <button class="mat-raised-button cancel-button"(click)="close()">Close</button>
                        
                       </div>
                       <div>
                
                         <button class="mat-raised-button mat-primary submit-button"(click)="submit()">Submit</button>
                       </div>
                  
                </div>
                </mat-dialog-actions>
               
            </mat-card>


        
    </form>
</div>
    </div>
