<div >
    <div class="login-content">
        <mat-toolbar class="login-toolbar" > Forgot Password</mat-toolbar>
    
    <form [formGroup]="form">
     
            <mat-card >
               
                <mat-divider></mat-divider>
                <mat-progress-bar *ngIf="this.isLoading" mode="query"></mat-progress-bar>
                <mat-error *ngIf="isError">{{errorMsg}}</mat-error>
                <mat-card-title>
                   
                </mat-card-title>
                <mat-card-content>
                    <br>
                    <mat-label *ngIf="isSuccess">{{successMsg}}</mat-label>
                    <mat-form-field *ngIf="!isSuccess">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" name="email" formControlName="email__eq" type="email"/>
                        <mat-error *ngIf="f.get('email__eq')?.errors?.['required']">
                            Email is required.
                        </mat-error> 
                        <mat-error *ngIf="f.get('email__eq')?.errors?.['email']">
                            Email must be a valid email address.
                        </mat-error> 
                    </mat-form-field>
                   
                </mat-card-content>
                
                <mat-dialog-actions>
                    <div class="wpr">
                       <div>
                         <button class="mat-raised-button cancel-button"(click)="close()">Close</button>
                        
                       </div>
                       <div>
                
                         <button *ngIf="!isSuccess" class="mat-raised-button mat-primary submit-button"(click)="submit()">Submit</button>
                       </div>
                  
                </div>
                </mat-dialog-actions>
               
            </mat-card>


        
    </form>
</div>
    </div>
